<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('header'); -%>
<body>
    <%- include('nav'); -%>
    <h2>Sensitive Data</h2>
    <p><strong>Bank Account:</strong> <%= sensitiveData.bankAccount %></p>
    <p><strong>Secret Key:</strong> <%= sensitiveData.secretKey %></p>
</body>
</html>